<a
  href="https://wa.me/525553506923"
  class="fixed bottom-4 right-4 bg-white rounded-full p-2 hover:scale-110 transition-all duration-300 shadow-lg z-50"
  target="_blank"
  rel="noopener noreferrer"
>
  <img 
    src="/whatsapp.jpg" 
    alt="Contactar por WhatsApp"
    class="w-12 h-12 rounded-full"
  />
</a> 